node_modules/
*.png
.DS_Store
*.zip
*.b64
patch_*.js
test_*.js
debug*.js
debug*.png
verify*.png
temp.js
take_screenshot.js
camera_search.txt
script.js
test.js
search_*.js
check_*.js
run_*.js
package*.json


